body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #871919;
}

header{
  background: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
  height: 50px;  
  margin-left: auto;
}

main {
  height: calc(100vh - 88px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  width: 320px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #9f2121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #d85858;
}

.register-text {
  margin-top: 1rem;
  font-size: 14px;
}

.register-text a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}
